h1 {
  color: blue;
  background-color: #D4AF37 ;
  text-align: center;
}

h1 a:hover {
  color: #D4AF37;
  background-color: blue;
  text-align: center;
}

h2 {
  color: white;
  font-family: cursive;
  text-align: center;
  }

h3 {
  color: white;
  font-family: cursive;
  text-align: center;
}

h4 {
  color: white;
  font-family: cursive;
  text-align: center;
}

h5 {
  color: white;
  font-family: cursive;
  text-align: right-center;
}

@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
html {
  background:  url(https://scontent.xx.fbcdn.net/v/t1.0-9/10470939_682190231890316_4240738380043923765_n.jpg?oh=17adc83469edcac2ca34c502efb6b537&oe=59AF0216) repeat center center fixed;
  background-size: cover;
}

body {
    height: 100%;
}

nav a {
  color: blue;
  background-color: #D4AF37;
}

nav a:hover {
  color: #D4AF37;
  background-color: blue;
}

aside span a {
  color: #D4AF37;
}

* {
  color: #D4BF37;
}

input {
  color: black;
  background-color: white;
}

input:hover {
  color: white;
  background-color: black;
}

p {
  font-family: cursive;
  font-size: 26px;
}
